{% extends "base.html" %}
{% block body %}

<div class="jumbotron">
  <h1>Welcome to ChartFlux!</h1>
  <h5>
  ChartFlux is a technicals-based stock recommendation system for the rest of us. We analyze all stocks in the NYSE and NASDAQ and let you know of the ones that are primed for buying or selling!
  </h5>
</div>
<div class="col-md-6">
<table class="table table-condensed table-bordered table-striped">
	<tr class="success"><td>Buying Recommendations</td></tr>
	{% if buy_stocks|length > 0 %}
	   {% for i in buy_stocks%}
	   <tr><td>{% print "%s - %s." % (i[1].symbol, i[1].name) %}</td></tr>
	   {% endfor %}
	{% else %}
	   <tr><td>I got nothin...</tr></td>
	{% endif %}
</table>
</div>
<div class="col-md-6">
<table class="table table-condensed table-bordered table-striped">
	<tr class="danger"><td>Selling Recommendations</td></tr>
	{% if sell_stocks|length > 0 %}
	   {% for i in sell_stocks%}
	   <tr><td>{% print "%s - %s." % (i[1].symbol, i[1].name) %}</td></tr>
	   {% endfor %}
	{% else %}
	   <tr><td>I got nothin...</tr></td>
	{% endif %}
</table>
</div>







{% endblock %}
